In [1]:
import pandas as pd
import numpy as np

In [2]:
#file path
netflix_credits = "Resources/credits(Netflix).csv"
netflix_title = "Resources/titles(Netflix).csv"
hulu_credits = "Resources/credits(Hulu).csv"
hulu_title = "Resources/titles(Hulu).csv"
hbo_credits = "Resources/credits(HBO).csv"
hbo_title = "Resources/titles(HBO).csv"

In [3]:
#read in csv files
net_credit_df = pd.read_csv(netflix_credits)
net_title_df = pd.read_csv(netflix_title)
hulu_credit_df = pd.read_csv(hulu_credits)
hulu_title_df = pd.read_csv(hulu_title)
hbo_credit_df = pd.read_csv(hbo_credits)
hbo_title_df = pd.read_csv(hbo_title)

In [ ]:
net_credit_df.head()

In [ ]:
hulu_credit_df.head()

In [ ]:
hbo_credit_df.head()

In [ ]:
net_title_df.head()

In [ ]:
hulu_title_df.head()

In [ ]:
hbo_title_df.head()

In [56]:
#merge data frames
#merge Netflix first
netflix_df = pd.merge(net_credit_df, net_title_df, how='outer', on=['id','id'])
netflix_df['Netflix'] = 1
netflix_df = netflix_df.dropna(subset=['imdb_votes'])
netflix_df = netflix_df.drop(netflix_df[netflix_df["role"]=="ACTOR"].index)

#merge Hulu
hulu_df = pd.merge(hulu_credit_df, hulu_title_df, how='outer', on=['id','id'])
hulu_df["Hulu"] = 1
hulu_df = hulu_df.dropna(subset=['imdb_votes'])
# hulu_df = hulu_df.dropna(subset=['imdb_score', 'imdb_votes'])
hulu_df = hulu_df.drop(hulu_df[hulu_df["role"]=="ACTOR"].index)

#merge HBO
hbo_df = pd.merge(hbo_credit_df, hbo_title_df, how='outer', on=['id','id'])
hbo_df["HBO"] = 1
hbo_df = hbo_df.dropna(subset=['imdb_votes'])
hbo_df = hbo_df.drop(hbo_df[hbo_df["role"]=="ACTOR"].index)

#netflix_df
#hulu_df
#hbo_df

In [42]:
#merge all data frames into one
combined_df = pd.merge(pd.merge(netflix_df, hulu_df, how='outer'), hbo_df, how='outer')
combined_df

,person_id,id,name,character,role,title,type,description,release_year,age_certification,...,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Netflix,Hulu,HBO
0,3308.0,tm84618,Martin Scorsese,NaN,DIRECTOR,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,...,['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,1.0,NaN,NaN
1,17727.0,tm154986,John Boorman,NaN,DIRECTOR,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,...,['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300,1.0,NaN,NaN
2,11475.0,tm127384,Terry Jones,NaN,DIRECTOR,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,...,['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811,1.0,NaN,NaN
3,11473.0,tm127384,Terry Gilliam,NaN,DIRECTOR,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,...,['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811,1.0,NaN,NaN
4,1063.0,tm120801,Robert Aldrich,NaN,DIRECTOR,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,...,"['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8381,NaN,ts304558,NaN,NaN,NaN,NYC Epicenters 9/11➔2021½,SHOW,"An unprecedented, sweeping portrait of New Yor...",2021,TV-MA,...,['US'],1.0,tt14324128,7.1,673.0,2.778,NaN,NaN,NaN,1.0
8382,NaN,ts320289,NaN,NaN,NaN,40 Means Nothing,SHOW,"In this intergenerational dating show, three s...",2021,NaN,...,['MX'],1.0,tt16426318,6.1,14.0,1.709,NaN,NaN,NaN,1.0
8383,NaN,ts314732,NaN,NaN,NaN,Dolores: The Truth About the Wanninkhof Case,SHOW,Twenty years after being wrongly convicted for...,2021,TV-14,...,['ES'],1.0,tt15692434,7.4,245.0,5.186,8.000,NaN,NaN,1.0
8384,NaN,ts309677,NaN,NaN,NaN,Level Playing Field,SHOW,A sports documentary series featuring a range ...,2021,TV-14,...,['US'],1.0,tt15437980,5.5,60.0,4.595,5.000,NaN,NaN,1.0
8385,NaN,ts300392,NaN,NaN,NaN,Through Our Eyes,SHOW,Showcases the perspectives of children as they...,2021,NaN,...,['US'],1.0,tt14812994,6.1,38.0,0.840,1.000,NaN,NaN,1.0

In [43]:
combined_df = combined_df[['id', 'Netflix', 'Hulu', 'HBO', 'title', 'type', 'age_certification', 'runtime', \
                           'name', 'role', 'release_year', 'seasons', 'imdb_score', 'imdb_votes']]
combined_df

,id,Netflix,Hulu,HBO,title,type,age_certification,runtime,name,role,release_year,seasons,imdb_score,imdb_votes
0,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,Martin Scorsese,DIRECTOR,1976,NaN,8.2,808582.0
1,tm154986,1.0,NaN,NaN,Deliverance,MOVIE,R,109,John Boorman,DIRECTOR,1972,NaN,7.7,107673.0
2,tm127384,1.0,NaN,NaN,Monty Python and the Holy Grail,MOVIE,PG,91,Terry Jones,DIRECTOR,1975,NaN,8.2,534486.0
3,tm127384,1.0,NaN,NaN,Monty Python and the Holy Grail,MOVIE,PG,91,Terry Gilliam,DIRECTOR,1975,NaN,8.2,534486.0
4,tm120801,1.0,NaN,NaN,The Dirty Dozen,MOVIE,NaN,150,Robert Aldrich,DIRECTOR,1967,NaN,7.7,72662.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8381,ts304558,NaN,NaN,1.0,NYC Epicenters 9/11➔2021½,SHOW,TV-MA,110,NaN,NaN,2021,1.0,7.1,673.0
8382,ts320289,NaN,NaN,1.0,40 Means Nothing,SHOW,NaN,38,NaN,NaN,2021,1.0,6.1,14.0
8383,ts314732,NaN,NaN,1.0,Dolores: The Truth About the Wanninkhof Case,SHOW,TV-14,43,NaN,NaN,2021,1.0,7.4,245.0
8384,ts309677,NaN,NaN,1.0,Level Playing Field,SHOW,TV-14,26,NaN,NaN,2021,1.0,5.5,60.0
8385,ts300392,NaN,NaN,1.0,Through Our Eyes,SHOW,NaN,33,NaN,NaN,2021,1.0,6.1,38.0

In [17]:
# combined_df = combined_df.dropna(subset=['imdb_score', 'age_certification', 'imdb_votes'])
# combined_df.sort_values("imdb_score")

In [18]:
# combined_df = combined_df[combined_df['imdb_score'] > 6.5]
# combined_df

In [19]:
# combined_df = combined_df[combined_df['imdb_votes'] > 10000]
# combined_df

In [57]:
combined_df = combined_df.fillna({"name": '--',
                    "role": '--',
                    "Netflix": 0,
                    "Hulu": 0,
                    "HBO": 0,
                    "seasons": 0})
combined_df

,id,Netflix,Hulu,HBO,title,type,age_certification,runtime,name,role,release_year,seasons,imdb_score,imdb_votes
0,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,R,114,Martin Scorsese,DIRECTOR,1976,0.0,8.2,808582.0
1,tm154986,1.0,0.0,0.0,Deliverance,MOVIE,R,109,John Boorman,DIRECTOR,1972,0.0,7.7,107673.0
2,tm127384,1.0,0.0,0.0,Monty Python and the Holy Grail,MOVIE,PG,91,Terry Jones,DIRECTOR,1975,0.0,8.2,534486.0
3,tm127384,1.0,0.0,0.0,Monty Python and the Holy Grail,MOVIE,PG,91,Terry Gilliam,DIRECTOR,1975,0.0,8.2,534486.0
4,tm120801,1.0,0.0,0.0,The Dirty Dozen,MOVIE,NaN,150,Robert Aldrich,DIRECTOR,1967,0.0,7.7,72662.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8381,ts304558,0.0,0.0,1.0,NYC Epicenters 9/11➔2021½,SHOW,TV-MA,110,--,--,2021,1.0,7.1,673.0
8382,ts320289,0.0,0.0,1.0,40 Means Nothing,SHOW,NaN,38,--,--,2021,1.0,6.1,14.0
8383,ts314732,0.0,0.0,1.0,Dolores: The Truth About the Wanninkhof Case,SHOW,TV-14,43,--,--,2021,1.0,7.4,245.0
8384,ts309677,0.0,0.0,1.0,Level Playing Field,SHOW,TV-14,26,--,--,2021,1.0,5.5,60.0
8385,ts300392,0.0,0.0,1.0,Through Our Eyes,SHOW,NaN,33,--,--,2021,1.0,6.1,38.0

In [61]:
# duplicate_row = combined_df[combined_df.duplicated(subset=["title", "name"])]
# duplicate_row.sort_values("title")

,id,Netflix,Hulu,HBO,title,type,age_certification,runtime,name,role,release_year,seasons,imdb_score,imdb_votes
7460,tm169719,0.0,0.0,1.0,42,MOVIE,PG-13,128,Brian Helgeland,DIRECTOR,2013,0.0,7.5,93314.0
6969,tm102337,0.0,0.0,1.0,A Nightmare on Elm Street,MOVIE,R,95,Samuel Bayer,DIRECTOR,2010,0.0,5.2,99192.0
6372,tm2386,0.0,0.0,1.0,A Nightmare on Elm Street,MOVIE,R,91,Wes Craven,DIRECTOR,1984,0.0,7.4,230543.0
4778,tm183176,0.0,1.0,0.0,A Second Chance,MOVIE,NaN,90,Clay Glen,DIRECTOR,2011,0.0,4.7,1018.0
5748,ts37143,0.0,1.0,0.0,Alone,SHOW,TV-MA,48,--,--,2015,8.0,8.4,4622.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5002,tm366889,0.0,1.0,0.0,Vice,MOVIE,R,132,Adam McKay,DIRECTOR,2018,0.0,7.2,139439.0
5306,tm426638,0.0,1.0,0.0,Vita & Virginia,MOVIE,NaN,110,Chanya Button,DIRECTOR,2019,0.0,5.7,3767.0
7027,tm32144,0.0,0.0,1.0,We Are Marshall,MOVIE,PG,124,McG,DIRECTOR,2006,0.0,7.0,60573.0
6362,tm138875,0.0,0.0,1.0,When Harry Met Sally...,MOVIE,R,96,Rob Reiner,DIRECTOR,1989,0.0,7.7,212913.0
6544,tm56574,0.0,0.0,1.0,You've Got Mail,MOVIE,PG,119,Nora Ephron,DIRECTOR,1998,0.0,6.7,209258.0

In [45]:
movie_df = combined_df[combined_df["type"]=="MOVIE"]
#movie_df = movie_df.dropna(subset=['role'])
movie_df
#df = df.drop(df[df.score < 50].index)
# df.drop(df[df['Age'] < 25].index, inplace = True)

,id,Netflix,Hulu,HBO,title,type,age_certification,runtime,name,role,release_year,seasons,imdb_score,imdb_votes
0,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,R,114,Martin Scorsese,DIRECTOR,1976,0.0,8.2,808582.0
1,tm154986,1.0,0.0,0.0,Deliverance,MOVIE,R,109,John Boorman,DIRECTOR,1972,0.0,7.7,107673.0
2,tm127384,1.0,0.0,0.0,Monty Python and the Holy Grail,MOVIE,PG,91,Terry Jones,DIRECTOR,1975,0.0,8.2,534486.0
3,tm127384,1.0,0.0,0.0,Monty Python and the Holy Grail,MOVIE,PG,91,Terry Gilliam,DIRECTOR,1975,0.0,8.2,534486.0
4,tm120801,1.0,0.0,0.0,The Dirty Dozen,MOVIE,NaN,150,Robert Aldrich,DIRECTOR,1967,0.0,7.7,72662.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,tm832366,0.0,0.0,1.0,Shakira in Concert: El Dorado World Tour,MOVIE,NaN,122,--,--,2019,0.0,7.8,260.0
8366,tm949799,0.0,0.0,1.0,Territorio,MOVIE,NaN,94,--,--,2020,0.0,5.8,146.0
8370,tm825662,0.0,0.0,1.0,Return to the Moon,MOVIE,PG,1,--,--,2019,0.0,8.0,13.0
8372,tm483047,0.0,0.0,1.0,Sterling,MOVIE,NaN,20,--,--,2019,0.0,7.3,20.0
8374,tm962124,0.0,0.0,1.0,Habla Now,MOVIE,NaN,58,--,--,2020,0.0,6.2,23.0

In [46]:
show_df = combined_df[combined_df["type"]=="SHOW"]
show_df

,id,Netflix,Hulu,HBO,title,type,age_certification,runtime,name,role,release_year,seasons,imdb_score,imdb_votes
26,ts45948,1.0,0.0,0.0,Monty Python's Fliegender Zirkus,SHOW,TV-MA,43,Ian MacNaughton,DIRECTOR,1972,1.0,8.1,2151.0
51,ts2760,1.0,0.0,0.0,Fireman Sam,SHOW,TV-Y,10,Gary Andrews,DIRECTOR,1987,13.0,6.1,1785.0
101,ts21034,1.0,0.0,0.0,InuYasha,SHOW,TV-14,25,Yasunao Aoki,DIRECTOR,2000,9.0,7.9,15823.0
102,ts21034,1.0,0.0,0.0,InuYasha,SHOW,TV-14,25,Masashi Ikeda,DIRECTOR,2000,9.0,7.9,15823.0
136,ts28516,1.0,0.0,0.0,Okupas,SHOW,TV-MA,40,Bruno Stagnaro,DIRECTOR,2000,1.0,9.0,2399.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8381,ts304558,0.0,0.0,1.0,NYC Epicenters 9/11➔2021½,SHOW,TV-MA,110,--,--,2021,1.0,7.1,673.0
8382,ts320289,0.0,0.0,1.0,40 Means Nothing,SHOW,NaN,38,--,--,2021,1.0,6.1,14.0
8383,ts314732,0.0,0.0,1.0,Dolores: The Truth About the Wanninkhof Case,SHOW,TV-14,43,--,--,2021,1.0,7.4,245.0
8384,ts309677,0.0,0.0,1.0,Level Playing Field,SHOW,TV-14,26,--,--,2021,1.0,5.5,60.0
8385,ts300392,0.0,0.0,1.0,Through Our Eyes,SHOW,NaN,33,--,--,2021,1.0,6.1,38.0

In [47]:
netflix_df = netflix_df[['id', 'title', 'type', 'age_certification', 'runtime', 'release_year', \
                         'seasons', 'imdb_score', 'imdb_votes']]
netflix_df = netflix_df.fillna({"name": '--',
                                "role": '--',
                                "seasons": 0})
netflix_df = netflix_df.drop_duplicates()
# netflix_df = netflix_df[netflix_df['imdb_score'] > 6.5]
# netflix_df = netflix_df[netflix_df['imdb_votes'] > 10000]
netflix_df

,id,title,type,age_certification,runtime,release_year,seasons,imdb_score,imdb_votes
36,tm84618,Taxi Driver,MOVIE,R,114,1976,0.0,8.2,808582.0
59,tm154986,Deliverance,MOVIE,R,109,1972,0.0,7.7,107673.0
106,tm127384,Monty Python and the Holy Grail,MOVIE,PG,91,1975,0.0,8.2,534486.0
162,tm120801,The Dirty Dozen,MOVIE,NaN,150,1967,0.0,7.7,72662.0
189,tm70993,Life of Brian,MOVIE,R,94,1979,0.0,8.0,395024.0
...,...,...,...,...,...,...,...,...,...
78154,tm1099342,Devdas Brothers,MOVIE,NaN,99,2021,0.0,3.3,51.0
78155,ts273317,Pitta Kathalu,SHOW,TV-MA,37,2021,1.0,5.1,738.0
78157,tm1066324,Super Monsters: Once Upon a Rhyme,MOVIE,NaN,25,2021,0.0,5.6,38.0
78159,tm898842,C/O Kaadhal,MOVIE,NaN,134,2021,0.0,7.7,348.0
78161,ts271048,Mighty Little Bheem: Kite Festival,SHOW,NaN,7,2021,1.0,7.8,18.0

In [48]:
hulu_df = hulu_df[['id', 'title', 'type', 'age_certification', 'runtime', 'release_year', \
                   'seasons', 'imdb_score', 'imdb_votes']]
hulu_df = hulu_df.fillna({"name": '--',
                    "character": '--',
                    "role": '--',
                    "seasons": 0})
hulu_df = hulu_df.drop_duplicates()
# hulu_df = hulu_df[hulu_df['imdb_score'] > 6.5]
# hulu_df = hulu_df[hulu_df['imdb_votes'] > 10000]
hulu_df

,id,title,type,age_certification,runtime,release_year,seasons,imdb_score,imdb_votes
81,tm147043,The Lorax,MOVIE,PG,25,1972,0.0,7.9,2932.0
95,tm1236,A Boy Named Charlie Brown,MOVIE,G,86,1969,0.0,7.3,5001.0
107,tm156894,"Snoopy, Come Home",MOVIE,G,81,1972,0.0,7.4,4665.0
115,tm11186,The Cat in the Hat,MOVIE,NaN,25,1971,0.0,7.3,1921.0
120,tm189299,Dr. Seuss on the Loose,MOVIE,NaN,25,1973,0.0,7.7,632.0
...,...,...,...,...,...,...,...,...,...
31962,ts273453,Soul of a Nation,SHOW,TV-PG,41,2021,1.0,4.9,193.0
31963,tm813666,Rising Wolf,MOVIE,NaN,102,2021,0.0,3.5,691.0
31966,ts318346,Peckham's Finest,SHOW,NaN,33,2021,1.0,5.4,12.0
31967,ts276887,Swan Boy,SHOW,NaN,4,2021,1.0,8.4,7.0
31968,ts330888,Roman to the Rescue,SHOW,NaN,24,2021,1.0,7.0,12.0

In [49]:
hbo_df = hbo_df[['id', 'title', 'type', 'age_certification', 'runtime', 'release_year', \
                 'seasons', 'imdb_score', 'imdb_votes']]
hbo_df = hbo_df.fillna({"name": '--',
                    "character": '--',
                    "role": '--',
                    "seasons": 0})
hbo_df = hbo_df.drop_duplicates()
# hbo_df = hbo_df[hbo_df['imdb_score'] > 6.5]
# hbo_df = hbo_df[hbo_df['imdb_votes'] > 10000]
hbo_df

,id,title,type,age_certification,runtime,release_year,seasons,imdb_score,imdb_votes
22,tm155702,The Wizard of Oz,MOVIE,G,102,1939,0.0,8.1,389774.0
175,tm83648,Citizen Kane,MOVIE,PG,119,1941,0.0,8.3,433804.0
281,tm77588,Casablanca,MOVIE,PG,102,1942,0.0,8.5,558849.0
328,tm82363,The Big Sleep,MOVIE,NaN,116,1946,0.0,7.9,84494.0
351,tm84701,The Maltese Falcon,MOVIE,NaN,100,1941,0.0,8.0,156603.0
...,...,...,...,...,...,...,...,...,...
66553,ts304558,NYC Epicenters 9/11➔2021½,SHOW,TV-MA,110,2021,1.0,7.1,673.0
66556,ts320289,40 Means Nothing,SHOW,NaN,38,2021,1.0,6.1,14.0
66557,ts314732,Dolores: The Truth About the Wanninkhof Case,SHOW,TV-14,43,2021,1.0,7.4,245.0
66558,ts309677,Level Playing Field,SHOW,TV-14,26,2021,1.0,5.5,60.0
66561,ts300392,Through Our Eyes,SHOW,NaN,33,2021,1.0,6.1,38.0

In [50]:
#export csv's to resources folder
from pathlib import Path
filepath = Path("Output/movie_df.csv")
filepath.parent.mkdir(parents=True, exist_ok=True)
movie_df.to_csv(filepath)

filepath2 = Path("Output/show_df.csv")
filepath.parent.mkdir(parents=True, exist_ok=True)
show_df.to_csv(filepath2)

filepath3 = Path("Output/netflix_df.csv")
filepath.parent.mkdir(parents=True, exist_ok=True)
netflix_df.to_csv(filepath3)

filepath4 = Path("Output/hulu_df.csv")
filepath.parent.mkdir(parents=True, exist_ok=True)
hulu_df.to_csv(filepath4)

filepath5 = Path("Output/hbo_df.csv")
filepath.parent.mkdir(parents=True, exist_ok=True)
hbo_df.to_csv(filepath5)